.cart{
  width: 20%;
  margin: 40px 10px;
  
  &-header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }

  &-img{
    width: 100%;
    height: 250px;
  }

  &-close-btn {
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 10px;
    width: 26px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
  
    &::after {
      content: "";
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      width: 26px;
      height: 2px;
      background-color: #000;
      transform: rotate(-90deg);
    }
  }
}


